nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	a.navbar-brand(href="/") Daskebrett
	button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false' aria-label='Toggle navigation')
		span.navbar-toggler-icon
	if user
		#navbarToggler.collapse.navbar-collapse
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
					li.nav-item
						a.nav-link(href="#")= user.firstname + " " + user.lastname
					li.nav-item
						a.nav-link(href='/logout') 
							| Logout