html
	include ../../partials/head.pug
	link(rel='stylesheet' type='text/css' href='/stylesheets/movies.css')
	body.d-flex.flex-column
		//- include ../../partials/header.pug
		.container.d-flex.flex-fill
			.post
				.movieHeader
					h1 The Matrix - 1999
				img(src='https://m.media-amazon.com/images/M/MV5BNzM4OTkzMjcxOF5BMl5BanBnXkFtZTgwMTkxMjI1MTI@._V1_FMjpg_UX1024_.jpg')
