body {
	font-family: 'Roboto', sans-serif;
	/*PWA*/
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

/* Form input fields */
input {
	font-size: 16px;
}

hr {
	border-color: rgba(0,0,0,.3);
}

.formLabel {
	font-weight: bold;
}

#days {
	font-style: italic;
}

#submit {
	width: 100%;
}

#logout a {
	color: white;	
}