html
	head
		include ../partials/head.pug
		//- link(rel='stylesheet' type='text/css' href="stylesheets/login.css")
	body.d-flex.flex-column.bg-dark
		include ../partials/header.pug
		.container.d-flex.flex-column.flex-fill.bg-light.pb-3
			each app in apps
				.row.flex-fill.align-items-center
					.col
						.jumbotron
							h1.display-4= app.name
							p.lead= app.lead
								//- | En enkel app for å holde styr på månedlige budsjett.
							hr.my-4
							p= app.description
								//- | Kun to verdier, et månedlig beløp og gjenværende sum på konto. Appen beregner hvordan du ligger an.
							p.lead
								a.btn.btn-primary.btn-lg(href='/'+app.name role='button')= app.name
