html
	include ../partials/head.pug
	body.bg-dark
		include ../partials/header.pug
		div.container
			if lists
				ul.list-group
					each list in lists
						li.list-group-item
							a(href=list.id)= list.name
			if items
				h1=list
				ul.list-group
					each item in items
						li.list-group-item.d-flex.justify-content-between.align-items-center=item.name
							.btn-group(role="group")
								button.btn.btn-secondary(type="button")
									|-
								button.btn.btn-secondary(disabled)
									=item.amount
								button.btn.btn-secondary(type="button")
									|+
					li.list-group-item.d-flex
						form#itemForm(method='POST' action='/add_item')
							input#itemInput.form-control
