html
	include ../../partials/head.pug
	script(src='/js/shopping.js')
	link(rel='stylesheet' type='text/css' href='/stylesheets/shopping.css')
	body.d-flex.flex-column.bg-dark
		include ../../partials/header.pug
		.container.d-flex.flex-column.flex-fill.bg-light.pb-3
			h2= list
			ul.list-group
				each item in items
					li.list-group-item.d-flex.justify-content-between.align-items-center=item.name
						.btn-group(role="group")
							button#minus.btn.btn-secondary(type="button")
								|-
							button.btn.btn-secondary(disabled)
								=item.amount
							button#pluss.btn.btn-secondary(type="button")
								|+
				li.list-group-item.d-flex
					form#itemForm(method='POST' action='/add_item')
						input#itemInput.form-control(placeholder='Legg til vare')
